.react-international-phone-input-container {
  width: 100%;
  display: flex;
  gap: 10px;
  input {
    width: 100%;
    padding: 22px !important;
    border-radius: 8px !important;
  }
  .react-international-phone-country-selector-button {
    padding: 22px !important;
    border-radius: 8px !important;
  }
  .react-international-phone-country-selector-button:focus,
  .react-international-phone-input:focus {
    box-shadow: 0px 0px 2px 1px #a8a2a2;
  }
}
